.shape-wrapper {
  cursor: grab;
  display: inline-block;
}

.shape-svg {
  display: block;
  width: auto;
  height: auto;
}

.shape-tools {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  gap: 4px;
}
.shape-tools button {
  background: #222;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape-tools button:hover {
  background: #666;
  border-radius: 4px;
}

.shape-container.selected .shape-wrapper {
  outline: 2px dashed #00f;
  outline-offset: 4px;
}
